.footer{
    position: fixed;
    bottom: 0;
    height: 65px;
    width: 97%;
    background-color:#282828;
    padding: 1.6em;
    display: flex;
    justify-content: space-between;
}

.footer__left{
    flex: .3;
    display: flex;
    align-items: center;
    max-width: 14em;
    color: #fff;
}
.footerAlbum__logo{
    height: 7em;
    width: 10em;
    margin-right: 1em;
    object-fit: contain;
}
.footer__center{
    flex: .4;
    padding: 0 0.75em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
    color: #fff;
}
.footer__right{
    flex: .3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.footer__right * .MuiSlider-root{
    color: green;
}

.footersong__info>h4{
   margin-bottom: .75em ;
}
.footersong__info>p{
   font-size: .85em;
}

.footer__green{
    color: #1ed15e;
}

.footer__icon :hover,
.footer__green:hover{
transition: transform 0.2s ease-in-out;
transform: scale(1.2) !important;
}