.sidebarOption{
    color: grey;
    height: 2.3em;
    cursor: pointer;
    transition: 200ms color ease-in-out;
    display: flex;
    align-items: center;
}

.sidebarOption:hover{
  color: #fff;
}

.Icon{
    padding: 0 .65em;
}

.sidebarOption > p{
    margin: .75em 0 0 1em ;
}